In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"results.csv", encoding = "ISO-8859-1")

In [10]:
filt = df['HomeTeam'] == 'Liverpool'
filt2 = df['AwayTeam'] == 'Tottenham'
filt3 = df['Season'] > '2000-21'
TotalMatch = df[filt][filt2][filt3]
TotalMatch

/var/folders/fs/7xwm968n3gz7y_pc2ghf916c0000gn/T/ipykernel_76591/1488934180.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  TotalMatch = df[filt][filt2][filt3]

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
3256,2001-02,2001-09-22T00:00:00Z,Liverpool,Tottenham,1,0,H,0.0,0.0,D,...,6.0,5.0,2.0,5.0,12.0,9.0,0.0,1.0,0.0,0.0
3686,2002-03,2002-10-26T00:00:00Z,Liverpool,Tottenham,2,1,H,0.0,0.0,D,...,5.0,8.0,5.0,7.0,11.0,19.0,2.0,4.0,0.0,0.0
3990,2003-04,2003-08-27T00:00:00Z,Liverpool,Tottenham,0,0,D,0.0,0.0,D,...,10.0,4.0,8.0,5.0,20.0,27.0,2.0,5.0,0.0,0.0
4667,2004-05,2005-04-16T00:00:00Z,Liverpool,Tottenham,2,2,D,1.0,1.0,D,...,7.0,6.0,12.0,3.0,5.0,7.0,0.0,0.0,0.0,0.0
4933,2005-06,2006-01-14T00:00:00Z,Liverpool,Tottenham,1,0,H,0.0,0.0,D,...,12.0,2.0,10.0,7.0,8.0,12.0,0.0,1.0,0.0,1.0
5156,2006-07,2006-09-23T00:00:00Z,Liverpool,Tottenham,3,0,H,0.0,0.0,D,...,6.0,1.0,6.0,0.0,12.0,9.0,1.0,0.0,0.0,0.0
5567,2007-08,2007-10-07T00:00:00Z,Liverpool,Tottenham,2,2,D,1.0,1.0,D,...,9.0,6.0,5.0,3.0,18.0,10.0,0.0,1.0,0.0,0.0
6239,2008-09,2009-05-24T00:00:00Z,Liverpool,Tottenham,3,1,H,1.0,0.0,H,...,9.0,4.0,9.0,2.0,14.0,4.0,0.0,1.0,0.0,0.0
6454,2009-10,2010-01-20T00:00:00Z,Liverpool,Tottenham,2,0,H,1.0,0.0,H,...,5.0,5.0,2.0,3.0,11.0,17.0,2.0,3.0,0.0,0.0
6991,2010-11,2011-05-15T00:00:00Z,Liverpool,Tottenham,0,2,A,0.0,1.0,A,...,2.0,4.0,11.0,5.0,13.0,7.0,2.0,1.0,0.0,0.0
7243,2011-12,2012-02-06T00:00:00Z,Liverpool,Tottenham,0,0,D,0.0,0.0,D,...,10.0,6.0,7.0,4.0,6.0,11.0,2.0,2.0,0.0,0.0
7668,2012-13,2013-03-10T00:00:00Z,Liverpool,Tottenham,3,2,H,1.0,1.0,D,...,4.0,9.0,1.0,4.0,9.0,8.0,1.0,1.0,0.0,0.0
8078,2013-14,2014-03-30T00:00:00Z,Liverpool,Tottenham,4,0,H,2.0,0.0,H,...,5.0,4.0,5.0,7.0,9.0,9.0,0.0,2.0,0.0,0.0
8386,2014-15,2015-02-10T00:00:00Z,Liverpool,Tottenham,3,2,H,1.0,1.0,D,...,7.0,5.0,5.0,7.0,13.0,17.0,3.0,6.0,0.0,0.0
8830,2015-16,2016-04-02T00:00:00Z,Liverpool,Tottenham,1,1,D,0.0,0.0,D,...,7.0,5.0,12.0,9.0,11.0,11.0,2.0,0.0,0.0,0.0
9145,2016-17,2017-02-11T00:00:00Z,Liverpool,Tottenham,2,0,H,2.0,0.0,H,...,9.0,2.0,10.0,3.0,14.0,14.0,3.0,4.0,0.0,0.0
9542,2017-18,2018-02-04T00:00:00Z,Liverpool,Tottenham,2,2,D,1.0,0.0,H,...,3.0,6.0,3.0,7.0,15.0,9.0,3.0,1.0,0.0,0.0
9976,2018-19,2019-03-31T00:00:00Z,Liverpool,Tottenham,2,1,H,1.0,0.0,H,...,3.0,2.0,10.0,3.0,5.0,8.0,0.0,1.0,0.0,0.0
10142,2019-20,2019-10-27T16:30:00Z,Liverpool,Tottenham,2,1,H,0.0,1.0,A,...,13.0,4.0,8.0,3.0,9.0,11.0,3.0,3.0,0.0,0.0
10547,2020-21,2020-12-16T20:00:00Z,Liverpool,Tottenham,2,1,H,1.0,1.0,D,...,11.0,2.0,7.0,4.0,8.0,9.0,0.0,2.0,0.0,0.0

In [4]:
# Home goal difference
TotalMatch['HGD'] = TotalMatch['FTHG'] - TotalMatch['FTAG']
# Home corner difference
TotalMatch['HCD'] = TotalMatch['HC'] - TotalMatch['AC']
# Home shot difference
TotalMatch['HSD'] = TotalMatch['HS'] - TotalMatch['AS']
# Home shot on target difference
TotalMatch['HSTD'] = TotalMatch['HST'] - TotalMatch['AST']
# Home foul difference
TotalMatch['HFD'] = TotalMatch['HF'] - TotalMatch['AF']
TotalMatch

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AF,HY,AY,HR,AR,HGD,HCD,HSD,HSTD,HFD
3256,2001-02,2001-09-22T00:00:00Z,Liverpool,Tottenham,1,0,H,0.0,0.0,D,...,9.0,0.0,1.0,0.0,0.0,1,-3.0,3.0,1.0,3.0
3686,2002-03,2002-10-26T00:00:00Z,Liverpool,Tottenham,2,1,H,0.0,0.0,D,...,19.0,2.0,4.0,0.0,0.0,1,-2.0,-1.0,-3.0,-8.0
3990,2003-04,2003-08-27T00:00:00Z,Liverpool,Tottenham,0,0,D,0.0,0.0,D,...,27.0,2.0,5.0,0.0,0.0,0,3.0,13.0,6.0,-7.0
4667,2004-05,2005-04-16T00:00:00Z,Liverpool,Tottenham,2,2,D,1.0,1.0,D,...,7.0,0.0,0.0,0.0,0.0,0,9.0,9.0,1.0,-2.0
4933,2005-06,2006-01-14T00:00:00Z,Liverpool,Tottenham,1,0,H,0.0,0.0,D,...,12.0,0.0,1.0,0.0,1.0,1,3.0,10.0,10.0,-4.0
5156,2006-07,2006-09-23T00:00:00Z,Liverpool,Tottenham,3,0,H,0.0,0.0,D,...,9.0,1.0,0.0,0.0,0.0,3,6.0,9.0,5.0,3.0
5567,2007-08,2007-10-07T00:00:00Z,Liverpool,Tottenham,2,2,D,1.0,1.0,D,...,10.0,0.0,1.0,0.0,0.0,0,2.0,10.0,3.0,8.0
6239,2008-09,2009-05-24T00:00:00Z,Liverpool,Tottenham,3,1,H,1.0,0.0,H,...,4.0,0.0,1.0,0.0,0.0,2,7.0,12.0,5.0,10.0
6454,2009-10,2010-01-20T00:00:00Z,Liverpool,Tottenham,2,0,H,1.0,0.0,H,...,17.0,2.0,3.0,0.0,0.0,2,-1.0,6.0,0.0,-6.0
6991,2010-11,2011-05-15T00:00:00Z,Liverpool,Tottenham,0,2,A,0.0,1.0,A,...,7.0,2.0,1.0,0.0,0.0,-2,6.0,2.0,-2.0,6.0
7243,2011-12,2012-02-06T00:00:00Z,Liverpool,Tottenham,0,0,D,0.0,0.0,D,...,11.0,2.0,2.0,0.0,0.0,0,3.0,6.0,4.0,-5.0
7668,2012-13,2013-03-10T00:00:00Z,Liverpool,Tottenham,3,2,H,1.0,1.0,D,...,8.0,1.0,1.0,0.0,0.0,1,-3.0,-5.0,-5.0,1.0
8078,2013-14,2014-03-30T00:00:00Z,Liverpool,Tottenham,4,0,H,2.0,0.0,H,...,9.0,0.0,2.0,0.0,0.0,4,-2.0,-4.0,1.0,0.0
8386,2014-15,2015-02-10T00:00:00Z,Liverpool,Tottenham,3,2,H,1.0,1.0,D,...,17.0,3.0,6.0,0.0,0.0,1,-2.0,2.0,2.0,-4.0
8830,2015-16,2016-04-02T00:00:00Z,Liverpool,Tottenham,1,1,D,0.0,0.0,D,...,11.0,2.0,0.0,0.0,0.0,0,3.0,-3.0,2.0,0.0
9145,2016-17,2017-02-11T00:00:00Z,Liverpool,Tottenham,2,0,H,2.0,0.0,H,...,14.0,3.0,4.0,0.0,0.0,2,7.0,10.0,7.0,0.0
9542,2017-18,2018-02-04T00:00:00Z,Liverpool,Tottenham,2,2,D,1.0,0.0,H,...,9.0,3.0,1.0,0.0,0.0,0,-4.0,-4.0,-3.0,6.0
9976,2018-19,2019-03-31T00:00:00Z,Liverpool,Tottenham,2,1,H,1.0,0.0,H,...,8.0,0.0,1.0,0.0,0.0,1,7.0,3.0,1.0,-3.0
10142,2019-20,2019-10-27T16:30:00Z,Liverpool,Tottenham,2,1,H,0.0,1.0,A,...,11.0,3.0,3.0,0.0,0.0,1,5.0,10.0,9.0,-2.0
10547,2020-21,2020-12-16T20:00:00Z,Liverpool,Tottenham,2,1,H,1.0,1.0,D,...,9.0,0.0,2.0,0.0,0.0,1,3.0,9.0,9.0,-1.0

In [5]:
# Win: 0, Draw: 1, Lose: 2

TotalMatch['FTR'] = TotalMatch['FTR'].replace(['H','D','A'], [0, 1, 2])
TotalMatch

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AF,HY,AY,HR,AR,HGD,HCD,HSD,HSTD,HFD
3256,2001-02,2001-09-22T00:00:00Z,Liverpool,Tottenham,1,0,0,0.0,0.0,D,...,9.0,0.0,1.0,0.0,0.0,1,-3.0,3.0,1.0,3.0
3686,2002-03,2002-10-26T00:00:00Z,Liverpool,Tottenham,2,1,0,0.0,0.0,D,...,19.0,2.0,4.0,0.0,0.0,1,-2.0,-1.0,-3.0,-8.0
3990,2003-04,2003-08-27T00:00:00Z,Liverpool,Tottenham,0,0,1,0.0,0.0,D,...,27.0,2.0,5.0,0.0,0.0,0,3.0,13.0,6.0,-7.0
4667,2004-05,2005-04-16T00:00:00Z,Liverpool,Tottenham,2,2,1,1.0,1.0,D,...,7.0,0.0,0.0,0.0,0.0,0,9.0,9.0,1.0,-2.0
4933,2005-06,2006-01-14T00:00:00Z,Liverpool,Tottenham,1,0,0,0.0,0.0,D,...,12.0,0.0,1.0,0.0,1.0,1,3.0,10.0,10.0,-4.0
5156,2006-07,2006-09-23T00:00:00Z,Liverpool,Tottenham,3,0,0,0.0,0.0,D,...,9.0,1.0,0.0,0.0,0.0,3,6.0,9.0,5.0,3.0
5567,2007-08,2007-10-07T00:00:00Z,Liverpool,Tottenham,2,2,1,1.0,1.0,D,...,10.0,0.0,1.0,0.0,0.0,0,2.0,10.0,3.0,8.0
6239,2008-09,2009-05-24T00:00:00Z,Liverpool,Tottenham,3,1,0,1.0,0.0,H,...,4.0,0.0,1.0,0.0,0.0,2,7.0,12.0,5.0,10.0
6454,2009-10,2010-01-20T00:00:00Z,Liverpool,Tottenham,2,0,0,1.0,0.0,H,...,17.0,2.0,3.0,0.0,0.0,2,-1.0,6.0,0.0,-6.0
6991,2010-11,2011-05-15T00:00:00Z,Liverpool,Tottenham,0,2,2,0.0,1.0,A,...,7.0,2.0,1.0,0.0,0.0,-2,6.0,2.0,-2.0,6.0
7243,2011-12,2012-02-06T00:00:00Z,Liverpool,Tottenham,0,0,1,0.0,0.0,D,...,11.0,2.0,2.0,0.0,0.0,0,3.0,6.0,4.0,-5.0
7668,2012-13,2013-03-10T00:00:00Z,Liverpool,Tottenham,3,2,0,1.0,1.0,D,...,8.0,1.0,1.0,0.0,0.0,1,-3.0,-5.0,-5.0,1.0
8078,2013-14,2014-03-30T00:00:00Z,Liverpool,Tottenham,4,0,0,2.0,0.0,H,...,9.0,0.0,2.0,0.0,0.0,4,-2.0,-4.0,1.0,0.0
8386,2014-15,2015-02-10T00:00:00Z,Liverpool,Tottenham,3,2,0,1.0,1.0,D,...,17.0,3.0,6.0,0.0,0.0,1,-2.0,2.0,2.0,-4.0
8830,2015-16,2016-04-02T00:00:00Z,Liverpool,Tottenham,1,1,1,0.0,0.0,D,...,11.0,2.0,0.0,0.0,0.0,0,3.0,-3.0,2.0,0.0
9145,2016-17,2017-02-11T00:00:00Z,Liverpool,Tottenham,2,0,0,2.0,0.0,H,...,14.0,3.0,4.0,0.0,0.0,2,7.0,10.0,7.0,0.0
9542,2017-18,2018-02-04T00:00:00Z,Liverpool,Tottenham,2,2,1,1.0,0.0,H,...,9.0,3.0,1.0,0.0,0.0,0,-4.0,-4.0,-3.0,6.0
9976,2018-19,2019-03-31T00:00:00Z,Liverpool,Tottenham,2,1,0,1.0,0.0,H,...,8.0,0.0,1.0,0.0,0.0,1,7.0,3.0,1.0,-3.0
10142,2019-20,2019-10-27T16:30:00Z,Liverpool,Tottenham,2,1,0,0.0,1.0,A,...,11.0,3.0,3.0,0.0,0.0,1,5.0,10.0,9.0,-2.0
10547,2020-21,2020-12-16T20:00:00Z,Liverpool,Tottenham,2,1,0,1.0,1.0,D,...,9.0,0.0,2.0,0.0,0.0,1,3.0,9.0,9.0,-1.0

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support as score, confusion_matrix, roc_auc_score, classification_report, log_loss

from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression

In [7]:
features = TotalMatch[['HCD', 'HSD', 'HSTD', 'HFD']]
target = TotalMatch['FTR']

In [8]:
X_train,X_test,y_train,y_test = train_test_split(features, target, test_size=0.2, stratify = target)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [ ]:
names = ["Nearest Neighbors", "Logistic Regression","Linear SVM", "RBF SVM", "Gaussian Process",
         "Decision Tree", "Random Forest", "Neural Net", "AdaBoost",
         "Naive Bayes", "QDA"]

classifiers = [
    KNeighborsClassifier(3),
    LogisticRegression(),
    SVC(kernel="linear", C=0.025, probability=True),
    SVC(gamma=2, C=1, probability=True),
    GaussianProcessClassifier(1.0 * RBF(1.0)),
    DecisionTreeClassifier(max_depth=5),
    RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    MLPClassifier(alpha=1, max_iter=1000),
    AdaBoostClassifier(),
    GaussianNB(),
    QuadraticDiscriminantAnalysis()]

In [ ]:
for name, clf in zip(names, classifiers):
        clf.fit(X_train, y_train)
        accuracy = clf.score(X_test, y_test)

        # prediction_proba = clf.predict_proba(X_test)
        # logloss = log_loss(y_test,prediction_proba)
        # precision, recall, fscore, support = score(y_test, prediction)
        # conf_martrix = confusion_matrix(y_test, prediction)
        # clas_report = classification_report(y_test, prediction)

        print(name, accuracy)